.campo-de-batalla {
  display: flex;
}

.celda {
  border: 1px solid black;
  height: 120px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rojo {
  background-color: red;
}
.azul {
  background-color: blueviolet;
}

.amarillo {
  background-color: yellow;
}

.verde {
  background-color: green;
}

img {
  height: 40px;
  width: auto;
}

.buttons-div {
  margin: 50px auto;
  display: flex;
  width: 100%;
  justify-content: center;
}

.button-direction {
  display: inline-flex;
  padding: 5px 10px;
  background-color: pink;
  color: white;
  justify-content: center;
  align-items: center;
}

.button-direction + .button-direction {
  margin-left: 10px;
}

.right-rotation {
  transform: rotate(90deg);
}

.left-rotation {
  transform: rotate(-45deg);
}

.right-rotation:focus {
  animation: rotate 1s ease-in-out 0s;
}

.menu-container {
  height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.menu {
  border-radius: 19px;
  padding: 30px;
  background-color: green;
  width: 50%;
  min-width: 500px;
  text-align: center;
}

.menu h1 {
  color: white;
  text-transform: capitalize;
  font-size: 40px;
}
.menu h2 {
  font-size: 30px;
}

.menu form {
  width: 70%;
  margin: auto;
}

.menu label {
  display: block;
  margin-bottom: 5px;
  padding-left: 3px;
  text-align: start;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
